/**
 * Content SCSS
 */
#mainContent {
  float: left;
  width: 100%;
  #content {
    padding: 0;
  }
}
.secondMenu {
  float: left;
  width: 100%;
  background: #d6dee3;
  h2 {
    display: none;
  }
  .menu-block-wrapper {
    width: 1178px;
    margin: 0 auto;
    padding: 0;
    .menu {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        list-style-image: none;
        float: left;
        a {
          font-size: 14px;
          line-height: 14px;
          color: #91a2a9;
          text-transform: uppercase;
          padding: 21px 14px;
          display: block;
          text-decoration: none;
          &:hover {
            background: #f5f7f8;
            color: #2b3336;
          }
        }
        &.active-trail {
          a {
            background: #f5f7f8;
            color: #2b3336;
          }
        }
      }
    }
  }
}
article.node {
  width: 1178px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}
.block.servicesTitle {
  background: #91a2a9;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  .block-title {
    display: none;
  }
  .servicesTitleInner {
    width: 1178px;
    margin: 0 auto;
    padding: 20px 0;
    h1 {
      color: #fff;
      float: left;
      padding: 0 20px 0 0;
      border-right: 2px solid #fff;
      margin: 0 20px 0 0;
      font-weight: normal;
      font-size: 36px;
      line-height: 50px;
    }
    p {
      color: #fff;
      padding: 0;
      margin: 0;
    }
  }
}

.servicesLinks {
  float: left;
  width: 100%;
  &.projectLinks {
    .servicesLinksInner {
      .servicesLinksItem {
        a {
          h3 {
            background: rgba(255, 255, 255, 0.6);
            text-align: center;
            color: #282828;
            font-weight: bold;
          }
        }
      }
    }
  }
  .servicesLinksInner {
    width: 1178px;
    margin: 0 auto;
    .servicesLinksItem {
      float: left;
      margin: 0 0 0 42px;
      &:first-child {
        margin: 0;
      }
      p, br {
        display: none;
      }
      a {
        float: left;
        border: 1px solid #9ca0a3;
        text-decoration: none;
        position: relative;
        img {
          display: block;
        }
        h3 {
          margin: 0;
          text-transform: uppercase;
          color: #fff;
          background: rgba(70, 73, 76, 0.6);
          position: absolute;
          bottom: 0;
          font-weight: normal;
          font-size: 23px;
          padding: 9px 19px;
          width: 318px;
        }
        &:hover {
          border: 1px solid #e57b51;
          h3 {
            background: rgba(193, 126, 104, 0.6);
          }
        }
      }
    }
  }
}