/**
 * News SCSS
 */
.block.newsList {
  width: 1178px;
  margin: 0 auto 40px;
  clear: both;
  h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a2a2a;
    padding: 0 0 15px 0;
  }
  .newsMain {
    padding: 0;
    .view-content {
      width: auto;
      margin: 0;
      .views-field-field-news-full {
        display: none;
      }
    }
  }
}
.newsMain {
  padding: 40px 0 0 0;
  .view-content {
    width: 1178px;
    margin: 0 auto 40px;
    .views-row {
      padding: 0 0 25px 0;
      .views-field-field-news-date {
        color: #97989a;
      }
      .views-field-field-news-main-image {
        display: none;
      }
      .views-field-title {
        color: #2a3235;
        font-weight: bold;
        a {
          color: #2a3235;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .views-field-field-news-body {
        padding: 15px 0 0 0;
        .entity-field-collection-item {
          .content {
            float: left;
            width: 100%;
            .field-name-field-news-image {
              float: left;
              padding: 5px 10px 10px 0;
              .field-label {
                display: none;
              }
            }
            .field-name-field-news-preview {
              .field-label {
                display: none;
              }
              p {
                margin: 0;
                padding: 0;
              }
            }
          }
        }

      }
      .views-field-field-news-full {
        display: none;
      }
    }
  }
}
.node-news-view {
  #page-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a2a2a;
    padding: 0 0 15px 0;
    margin: 0;
  }
  .field-name-field-news-date {
    .field-label {
      display: none;
    }
  }
  .field-name-field-news-main-image {
    .field-label {
      display: none;
    }
  }
  .field-collection-container {
    margin: 0;
    border: 0;
    .field-name-field-news-body {
      .field-label {
        display: none;
      }
      .field-collection-view {
        padding: 0;
        margin: 0;
        .field-name-field-news-image {
          display: none;
        }
        .field-name-field-news-preview {
          p {
            margin: 0;
            padding: 0 0 18px 0;
          }
        }
      }
    }
  }
  .field-name-field-news-full {
    .field-label {
      display: none;
    }
    p {
      margin: 0;
      padding: 0 0 18px 0;
    }
  }
}