/**
 * Header SCSS
 */
.phonesRegion {
  background: #000;
  color: #fff;
  font-size: 18px;
  float: left;
  width: 100%;
  a {
    color: #fff;
    text-decoration: none;
  }
  p {
    margin: 0;
    padding: 0;
    line-height: 18px;
  }
  .region-phones-region {
    width: 1178px;
    margin: 0 auto;
  }
  .block {
    float: right;
    margin: 0 0 0 25px;
    &.topEmail {
      background: url("../images/top_mail.png") no-repeat 0 16px;
      padding: 13px 0 13px 37px;
    }
    &.mobilePhone {
      background: url("../images/top_mobile.png") no-repeat 0 8px;
      padding: 13px 0 13px 26px;
    }
    &.homePhone {
      background: url("../images/top_phone.png") no-repeat 0 10px;
      padding: 13px 0 13px 35px;
    }
  }
}

#header {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #2b3336;
  .topContent {
    width: 1178px;
    margin: 0 auto;
    position: relative;
    z-index: 6;
    #logo {
      margin: 7px 0 10px;
      float: left;
    }
    .topMenu {
      z-index: 1;
      margin: 0;
    }
    .sf-menu {
      float: right;
      z-index: 1;
      padding: 34px 0 0 0;
      margin: 0;
      li {
        a {
          font-size: 14px;
          font-weight: bold;
          color: #91a2a9;
          text-transform: uppercase;
          line-height: 14px;
          padding: 10px 11px 12px;
          text-decoration: none;
          &:hover {
            background: #ee8359;
            border-radius: 4px;
            color: #fff;
          }
          &.menuparent {
            background: url("../images/menu_arrow.png") no-repeat center 27px;
            &:hover {
              background: #ee8359 url("../images/menu_arrow_hover.png") no-repeat center 27px;
              border-radius: 4px;
            }
          }
          span {
            display: none;
          }
        }
        ul {
          background: #000;
          border-radius: 4px;
          padding: 0 !important;
        }
        &.active-trail {
          a {
            background: #ee8359;
            border-radius: 4px;
            color: #fff;
            &.menuparent {
              background: #ee8359 url("../images/menu_arrow_hover.png") no-repeat center 27px;
              border-radius: 4px;
            }
          }
          ul {
            li {
              a {
                background: #000;
                &:hover {
                  background: #ee8359;
                  border-radius: 4px;
                  color: #fff;
                }
              }
              &.active-trail {
                a {
                  background: #ee8359;
                  border-radius: 4px;
                  color: #fff;
                  &.menuparent {
                    background: #ee8359 url("../images/menu_arrow_hover.png") no-repeat center 27px;
                    border-radius: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}