/**
 * Articles SCSS
 */
.articleView {
  float: left;
  width: 100%;
  margin: 0 0 30px;
  .view-content {
    width: 1178px;
    margin: 0 auto;
    .views-row {
      padding: 30px 0 0 0;
      margin: 30px 0 0 0;
      border-top: 1px solid #ccc;
      &:first-child {
        border-top: 0;
      }
      .views-field-title {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #2a2a2a;
        padding: 0 0 15px 0;
        a {
          color: #2a2a2a;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .views-field-field-articles-preview {
        .field-name-field-articles-preview-image {
          float: left;
          padding: 10px 10px 10px 0;
          .field-label {
            display: none;
          }
        }
        .field-name-field-articles-preview-text {
          .field-label {
            display: none;
          }
        }
        p {
          margin: 0;
          padding: 0 0 18px 0;
        }
      }
      .views-field-view-node {
        a {
          background: #ee8359;
          padding: 17px;
          font-size: 14px;
          line-height: 14px;
          text-decoration: none;
          border-radius: 5px;
          color: #fff;
          display: inline-block;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.field-name-field-articles-preview {
  .field-label {
    display: none;
  }
}
.field-name-field-articles-full {
  .field-label {
    display: none;
  }
}
.field-name-field-article-main-image {
  .field-label {
    display: none;
  }
}
.node-articles {
  .field-collection-container {
    border: 0;
    .field-collection-view {
      padding: 0;
      margin: 0;
      .field-name-field-articles-preview-image {
        display: none;
      }
      .field-collection-view-links {
        display: none;
      }
    }
  }

}