/**
 * 3D MODELS SCSS
 */
.block-webform {
  float: left;
  width: 100%;
  form, .block-title {
    margin: 10px auto 0;
    padding: 0;
    width: 1178px;
  }
  form > div {
    width: 508px;
    border: 1px solid #ccc;
    padding: 30px;
  }
  .form-actions {
    input {
      background: url("../images/send_btn.png") no-repeat 0 0;
      width: 105px;
      height: 48px;
      font-size: 0;
      border: 0;
      line-height: 0;
    }
  }
  .form-managed-file {
    #edit-submitted-zagruzit-fayl-upload-button {
      background: url("../images/dowmload_btn.png") no-repeat 0 0;
      width: 99px;
      height: 38px;
      font-size: 0;
      border: 0;
      line-height: 0;
    }
    .form-file {
      margin: 5px 0 0 0;
    }
  }
}
.webform-confirmation {
  text-align: center;
}