/**
 * Last Projects SCSS
 */
.block.lastProjects {
  margin: 0;
  padding: 40px 0;
  float: left;
  width: 100%;
  .lastProjectsInner {
    width: 1178px;
    margin: 0 auto;
    h2 {
      font-size: 24px;
      line-height: 24px;
      color: #000;
      text-transform: uppercase;
      padding: 0 0 40px 0;
      margin: 0;
    }
    .lastProjectItems {
      clear: both;
      ul {
        padding: 0;
        margin: 0;
        li {
          width: 368px;
          float: left;
          list-style-type: none;
          padding: 0 0 0 32px;
          margin: 0;
          &:first-child {
            padding: 0;
          }
          .lastImg {
            border: 5px solid #d7dee6;
            position: relative;
            img {
              display: block;
            }
            h3 {
              background: rgba(43, 51, 54, 0.7);
              margin: 0;
              font-size: 12px;
              font-weight: normal;
              text-transform: uppercase;
              color: #fff;
              padding: 20px;
              position: absolute;
              bottom: 0;
              width: 318px;
            }
          }
          .lastInfo {
            border-bottom: 1px dashed #9a9b9d;
            float: left;
            width: 100%;
            clear: both;
            padding: 15px 0 0 0;
            color: #2f3336;
            .weight {
              float: left;
            }
            .weightNumber {
              float: right;
            }
          }
          .lastMore {
            clear: both;
            padding: 32px 0 0 0;
            a {
              background: #ee8359;
              padding: 17px;
              font-size: 14px;
              line-height: 14px;
              text-decoration: none;
              border-radius: 5px;
              color: #fff;
              display: inline-block;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}