/**
 * Slider SCSS
 */
#block-nivo-slider-nivo-slider {
  background: #91a2a9;
  margin: 0;
  padding: 26px 0 15px 0;
  float: left;
  width: 100%;
  .slider-wrapper {
    width: 1178px;
    margin: 0 auto;
    position: relative;
    .nivoSlider {
      background: 0;
      box-shadow: none;
      margin: 0;
      .nivo-caption {
        background: 0;
        position: absolute;
        bottom: 46px;
        left: 150px;
        width: 410px;
        color: #fff;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .nivo-controlNav {
      position: absolute;
      bottom: 60px;
      left: 50px;
      z-index: 9;
      padding: 0;
      .nivo-control {
        background: #c9c9c9;
        width: 15px;
        height: 15px;
        border-radius: 8px;
        &.active {
          background: #e5885f;
        }
      }
    }
  }
}