/**
 * Footer SCSS
 */

.siteFooter {
  background: #2b3336;
  float: left;
  width: 100%;
  height: 280px;
  #footer {
    padding: 15px 0 0 0;
    margin: 0 auto;
    width: 1178px;
    .block-menu {
      float: left;
      width: 170px;
      padding: 0 26px 0 0;
      h2 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        padding: 0 0 15px 0;
      }
      .menu {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          list-style-image: none;
          padding: 0 0 7px 0;
          margin: 0;
          a {
            color: #8fa1a5;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
          &.active-trail {
            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
