/**
 * Portfolio SCSS
 */
.view-portfolio {
  float: left;
  width: 100%;
  .view-content {
    width: 1178px;
    margin: 0 auto;
    .views-row {
      padding: 0 0 55px 0;
      float: left;
      width: 100%;
      .views-field-field-portfolio-title {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #2a2a2a;
      }
      .views-field-title {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #2a2a2a;
        padding: 0 0 10px 0;
        a {
          color: #2a2a2a;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .views-field-field-portfolio-descr {
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style-type: none;
            color: #343537;
          }
        }
      }
      .views-field-field-portfolio-link {
        padding: 0 0 10px 0;
        color: #969799;
        a {
          color: #969799;
        }
      }
      .views-field-field-images {
        font-size: 0;
        .field-collection-view-links {
          display: none;
        }
        .field-content {
          float: left;
          border: 5px solid #d9dee2;
          margin: 30px 0 0 0;
          .field-collection-view {
            float: left;
            img {
              display: block;
            }
          }
          .field-name-field-portfolio-image {
            .field-item {
              float: left;
              img {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.node-portfolio {
  h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2a2a2a;
  }
  .field-name-field-portfolio-title {
    display: none;
  }
  .field-name-field-portfolio-descr {
    display: none;
  }
  .field-name-field-portfolio-descr-inner {
    .field-label {
      display: none;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        color: #343537;
      }
    }
  }
  .field-name-field-portfolio-link {
    padding: 0 0 10px 0;
    color: #969799;
    .field-label {
      display: none;
    }
    a {
      color: #969799;
    }
  }
  .field-collection-container {
    border: 0;
  }
  .field-name-field-images {
    display: none;
  }
  .field-name-field-images-inner {
    .field-label {
      display: none;
    }
    .field-collection-view {
      margin: 0;
      padding: 0;
      .field-item {
        display: inline-block;
        border: 5px solid #d9dee2;
        margin: 0 24px 24px 0;
        img {
          display: block;
        }
      }
      .field-collection-view-links {
        display: none;
      }
    }
  }
  .field-name-field-portfolio-inner-image {
    .field-label {
      display: none;
    }
  }
  .field-name-field-portfolio-inner-text {
    .field-label {
      display: none;
    }
  }
}