/**
 * Footer SCSS
 */

.block.expirience {
  background: #d6dde3;
  margin: 0;
  float: left;
  width: 100%;
  ul {
    padding: 40px 0 0 0;
    margin: 0 auto;
    width: 1178px;
    li {
      list-style-type: none;
      padding: 0 0 50px 0;
      margin: 0;
      width: 389px;
      display: inline-block;
      vertical-align: top;
      .expImg {
        float: left;
        padding: 0 14px 0 0;
      }
      .expDescr {
        float: left;
        width: 300px;
        h2 {
          padding: 0 0 14px 0;
          margin: 0;
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
          color: #2a2829;
        }
        p {
          padding: 0;
          margin: 0;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
