/**
 * Gallery SCSS
 */
.node-chertezi {
  #page-title {
    color: #2a2a2a;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 10px;
    text-transform: uppercase;
  }
  .field-collection-container {
    border: 0;
    .field-label {
      display: none;
    }
    .field-name-field-chertezi-fields {
      .field-item {
        .field-name-field-chertezi-title {
          .field-item {
            color: #2a2a2a;
            font-size: 20px;
            font-weight: bold;
            padding: 0 0 10px;
            text-transform: uppercase;
          }
        }
        .field-name-field-chertezi-image-f {
          .field-item {
            border: 5px solid #d9dee2;
            display: inline-block;
            margin: 0 15px 30px;
            width: 342px;
            img {
              display: block;
            }
          }
        }
        .field-collection-view {
          border: 0;
          .field-collection-view-links {
            display: none;
          }
        }
      }
    }
    .action-links-field-collection-add {
      display: none;
    }
  }
}
.field-name-field-chertezi-image {
  .field-label {
    display: none;
  }
  .field-item {
    display: inline-block;
    width: 352px;
    margin: 0 15px 30px 15px;
    border: 5px solid #d9dee2;
    a {
      display: block;
      outline: none;
      img {
        display: block;
      }
    }
  }
}