/**
 * 3D MODELS SCSS
 */

.d3models {
  padding: 40px 0 0 0;
  margin: 0 auto;
  width: 1178px;
  .views-row {
    padding: 0 0 30px 0;
    .views-field-title {
      color: #2a2a2a;
      font-size: 24px;
      font-weight: bold;
      padding: 0 0 10px;
      text-transform: uppercase;
      a {
        color: #2a2a2a;
        text-decoration: none;
        outline: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.node-3-d-models {
  .field-name-field-3d-sketch {
    .field-label {
      display: none;
    }
  }
  #page-title {
    color: #2a2a2a;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 10px;
    text-transform: uppercase;
  }
}